.counter, .btnBox{
    height: 110px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.counter{
    justify-content: center;
    box-shadow: inset 0 0 20px 0 rgba(0,0,0, 0.25);
    font-size: 45px;
}

.btn{
    height: 75px;
    width: 75px;
    border-radius: 100%;
    background: none;
    border: 2px solid rgba(0,0,0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    cursor: pointer;
}
